{{ define "content" }}
<h2>Detail</h2>
<div class="form-group">
    <label>nama</label>
    <input type="text" name="nama" disabled>
</div>
<div class="form-group">
    <label>username</label>
    <input type="text" name="username" disabled>
</div>
<div class="form-group">
    <label>password</label>
    <input type="password" name="password" disabled>
</div>
<div class="form-group">
    <label>token</label>
    <input type="text" name="token" disabled>
</div>
<button class="btn" onclick="location.href='/'">back</button>
{{ end }}